<%- include('../partials/header.ejs') %>
<main class="container">
<h1>FakeTwitter</h1>

<form action="/" method="POST">
<div class="d-flex justify-content-between">
    
        <input class="col-9" type="input" placeholder="Give your spicy opinion" name="postBody">
        <input class="col-1 btn btn-primary float-right" type="submit" name="psotSub">

</div>
</form>
    <% for (const post of posts.posts){%>
    <div class="card">
        <div class="card-header">
            <a href="/user/<%= posts.slug %>">
                <h6><%- posts.username %></h6>
            </a>
        </div>
        <div class="card-body">
            <p class="card-text col-12"><%=post.body %></p>
        </div>
    </div>
    
   <% } %>


</main>
<%- include('../partials/footer.ejs') %>